* {
  font-family: 'Open Sans', sans-serif !important;
  box-sizing: border-box;
}
html {
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  background: url("../img/bgPalenque.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  margin: 2vw;
}
.table {
  display: table;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.table img {
  max-width: 15vw;
  max-height: 11vw;
}
.increase-button, .decrease-button {
  font-size: 5vw;
  padding: 0;
  min-width: 40%;
  max-width: 40%;
  display: inline-block;
  color: #BC283E;
  background: none;
  border: 1px solid #BC283E;
  outline: none;
  border-radius: 3px;
}
.increase-button:active, .decrease-button:active {
  color: white;
  background: #BC283E;
  border: 1px solid #BC283E;
  outline: none;
}
.widget {
  text-align: center;
  margin-bottom: 1.5vw;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
.widget h3 {
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1vw;
  padding: 1vw;
  background: #BC283E;
  color: white;
  border-radius: 3px;
}
.label {
  min-width: 30%;
  max-width: 50%;
  text-transform: uppercase;
  font-weight: 100;
  padding: 1vw;
  margin: 0;
  display: inline-block;
  background: #BC283E;
  color: white;
  border-radius: 3px;
}
#constant {
  min-width: 66.5%;
  max-width: 66.5%;
}
.long-count input {
  font-size: inherit;
  max-width: 16.5%;
  color: #567379;
  padding: 1vw;
  border: 1px solid #567379;
  border-radius: 3px;
}
.point {
  color: #567379;
}
.calendar-round {
  display: inline-block;
  min-width: 56.5%;
  max-width: 56.5%;
  padding: 1vw;
  color: #567379;
  margin-top: 1vw;
  margin-bottom: 0;
  background: white;
  border: 1px solid #567379;
  border-radius: 3px;
}
.correlation input, .gregorian-calendar input, .julian-calendar input {
  text-align: center;
  font-size: inherit;
  color: #567379;
  padding: 1vw;
  border: 1px solid #567379;
  border-radius: 3px;
}
#greg-day, #jul-day {
  min-width: 21%;
  max-width: 21%;
}
#greg-year, #jul-year {
  min-width: 33%;
  max-width: 33%;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
}
select::-ms-expand {
  display: none;
  appearance: none;
  overflow: hidden;
}
.gregorian-calendar select, .julian-calendar select {
  font-size: inherit;
  text-align: center;
  color: #567379;
  padding: 1vw;
  border: 1px solid #567379;
  border-radius: 3px;
}
.month-select, .era-select {
  min-width: 21%;
  max-width: 21%;
}
.header {
  text-align: center;
  border-radius: 3px;
  margin-bottom: 1vw;
  background: #532337;
  padding: 1vw;
}
.header p {
  display: inline;
  font-size: 5vw;
  text-decoration: overline;
  text-transform: uppercase;
  font-weight: 100;
  color: white;
}
.header img {
  display: inline-block;
  max-height: 7vw;
}
.button {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  font-size: 5vw;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  border: solid 1px white;
}
.button:active, .button:focus {
  background: #E3CB70;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[class*="col-"] {
  float: left;
  width: 100%;
  font-size: 4vw !important;
}
@media only screen and (min-width: 600px) {
  .header {
    padding: 0.5vw;
  }
  .header p {
    font-size: 2.5vw;
  }
  .header img {
    max-height: 4vw;
  }
  .button {
    width: 50%;
    font-size: 3vw;
  }
  .col-1 {
    width: 50%;
    margin-right: 1%;
  }
  .glyph img {
    max-height: 7vw;
  }
  .increase-button, .decrease-button {
    min-width: 35%;
    max-width: 35%;
    font-size: 2vw;
    margin: 0;
  }
  .col-2 {
    width: 49%;
    font-size: 1.5vw !important;
  }
}