<widget id="com.gregorio.katun" version="1.1">
  <name>Katun</name>
  <description>
    Maya Calendar Tools
  </description>
  <author>
    Jonas Gregorio de Souza
  </author>
  <platform name="android">
    <icon src="img/icon.png" width="180" height="180" />
  </platform>
  <preference name="android-targetSdkVersion" value="26" />
  <preference name="android-minSdkVersion" value="24" />
</widget>