* {
  font-family: "Open Sans Light";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

body
{
  background: url("./Stela_P.jpg");
  background-size: cover;
}

.container
{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  position: fixed;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4;
}

.glyph-blocks
{
  grid-column: 1;
  grid-row: 1 / 5;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50px repeat(2, 120px) 50px;
  grid-template-rows: 150px repeat(4, 90px);
}

.glyph
{
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

img
{
  margin-top: 5px;
  position: relative;
  min-height: 90%;
  max-height: 90%;
  min-width: initial;
}

.glyph-blocks #isig
{
  background: rgba(0, 0, 0, 0.4);
  grid-column: 2 / 4;
}

.glyph-buttons
{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: grid;
}

.increase-button,
.decrease-button
{
  text-align: center;
  color: #ffc600;
  font-size: large;
  text-shadow: 0px 0px 20px black;
  background: none;
  display: inline-block;
  outline: 0;
  border: none;
  height: 0px;
  width: 0px;
}

.increase-button:hover,
.decrease-button:hover
{
  cursor: pointer;
}

.maya-widget
{
  color: #ffc600;
  text-shadow: 0px 0px 5px black;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

h3
{
  margin: 10px auto;
  color: #ffc600;
  text-shadow: 0px 0px 5px black;
  text-transform: uppercase;
}

.maya-widget input
{
  padding: 5px;
  min-width: 15%;
  max-width: 15%;
  outline: none;
  color: #ffc600;
  text-align: center;
  font-size: large;
  background: rgba(0, 0, 0, 0.65);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.calendar-round
{
  margin: 5px auto;
  min-width: 75%;
  max-width: 75%;
  padding: 5px;
  color: #ffc600;
  font-size: large;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.gregorian-widget
{
  text-align: center;
  grid-column: 2;
  grid-row: 3;
}

.gregorian-widget input,
.julian-widget input,
.correlation input
{
  padding: 5px;
  min-width: 18%;
  max-width: 18%;
  outline: none;
  color: #ffc600;
  text-align: center;
  font-size: large;
  background: rgba(0, 0, 0, 0.65);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.correlation input
{
  min-width: 30%;
  max-width: 30%;
}

select
{
  padding: 5px;
  outline: none;
  color: #ffc600;
  text-align: center;
  font-size: large;
  background: rgba(0, 0, 0, 0.65);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.month-select
{
  min-width: 24%;
  max-width: 24%;
}

.era-select
{
  min-width: 15%;
  max-width: 15%;
}

.julian-widget
{
  text-align: center;
  grid-column: 2;
  grid-row: 4;
}

.correlation
{
  text-align: center;
  grid-column: 2;
  grid-row: 2;
}